.App {
  display:grid;
  grid-template-columns: repeat(4, 4fr);
  max-width:1700px;
  grid-column-gap: 20px;
  border: solid;
  margin:auto;
  margin-top: 100px;
  border: black;
  padding: 10px;
  border-radius: 10px
}
.col {
  display:flex;
  flex-direction: column;
}

.item {
  display:flex;
  justify-content: space-between;
  width:100%;
  margin-bottom: 100px;

}

.col button,
.col input {
  padding: 3px 10px;
}

.span:before,
.span:after {
  border-top: 1px solid black;
  display: block;
  height: 1px;
  content: " ";
  width: 40%;
  position: absolute;
  left: 0;
  top: 1.2em;
}
.span:after {
  right: 0;
  left: auto;
}